.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

::deep
.engagment {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
}

input {
    margin-bottom: 10px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

button {
    margin-top: 10px;
}